@keyframes rotate-forward {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotate-backward {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@mixin rotate-fw {
  animation: rotate-forward forwards 0.5s ease-in;
}

@mixin rotate-bw {
  animation: rotate-backward forwards 0.5s ease-in;
}

@mixin scale-up {
  animation: scale forwards 0.5s ease-in;
}
