@import "styles/colors";
@import "styles/mixins";
.container {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  background-color: $grid;
  border: 3px solid $line;
  @include scale-up;
  & .box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    & .circle {
      width: 50px;
      height: 50px;
    }
    & .cross {
      top: -25px;
      height: 50px;
    }
  }
  & .bd-right {
    border-right: 3px solid $line;
  }
  & .bd-bottom {
    border-bottom: 3px solid $line;
  }
  & .bd-left {
    border-left: 3px solid $line;
  }
  & .bd-top {
    border-top: 3px solid $line;
  }
  & .box-1,
  .box-2 {
    @extend .bd-right;
    grid-row: 1 / 2;
  }
  & .box-3 {
    grid-row: 1 / 2;
  }
  & .box-4,
  .box-5 {
    @extend .bd-right;
    @extend .bd-top;
    grid-row: 2 / 3;
  }
  & .box-6 {
    @extend .bd-top;
    grid-row: 2 / 3;
  }
  & .box-7,
  .box-8 {
    @extend .box-4;
    grid-row: 3 / 4;
  }
  & .box-9 {
    @extend .box-6;
    grid-row: 3 / 4;
  }
}
